@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,800;1,900&display=swap');

.container {
    margin: 70px;
    padding-left: 50px;
    padding-top: 80px;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 350px 350px 350px;
    justify-content: center;
}

.item{
    display: grid;
    grid-template-areas: "gambar"
                         "nama-menu harga";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-content: center;
    width: 156px;
    height: 212.41px;
    background-color: white;
    box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);            
    padding: 10px 10px;
    border-radius: 30px;
    text-align: center;

}
.img{
    grid-area: gambar;
    margin: -80px 100px;
    border-radius: 100px;
}

.item h1{
    grid-area: nama-menu;
    margin: 60px 90px;
    padding: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    text-align: center;
    line-height: 101.34%;
}

.item p{
    grid-area: harga;
    margin: 180px auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    color: #6A4029;
}